* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: auto;
  height: 100vh;
  padding: 0;
  background: rgb(215, 225, 236);
  background: linear-gradient(
    328deg,
    rgba(215, 225, 236, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin-bottom: 2rem;
  border-radius: 20px;
  overflow: hidden;
  min-width: 300px;
  width: fit-content;
  border: 3px solid black;
  box-shadow: 3px 6px 21px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 3px 6px 21px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 3px 6px 21px 0px rgba(0, 0, 0, 0.24);
}

.user {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.msgBoxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 3px solid #000;
}

.added {
  margin-right: 1rem;
}
